{% extends "WCBaseBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'bundles/wcguild/css/guild.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock stylesheets %}
{% block navigation %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="container flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="container">
        <h1>Référencement d'une nouvelle guilde</h1>
        <div class="col-md-12">
            <h2><small>Il vous faudra rendre un de vos personnage "chef" de la guilde, mais vous pourrez à tout moment léguer le lead à un autre personnage</small></h2>
            <div class="col-md-8">
                <div style="overflow: hidden;">
                    {{ form_start(formGuild, {'attr': {'class': 'form-horizontal col-md-12'}}) }}
                    {{ form_errors(formGuild) }}

                    <div class="form-group">
                        {{ form_label(formGuild.name, "Nom de la guilde", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        {{ form_errors(formGuild.name) }}
                        <div class="col-sm-10">
                            {{ form_widget(formGuild.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(formGuild.server, "Serveur", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        {{ form_errors(formGuild.server) }}
                        <div class="col-sm-10">
                            {{ form_widget(formGuild.server, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(formGuild.Chef, "Chef", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                        {{ form_errors(formGuild.Chef) }}
                        <div class="col-sm-10">
                            {{ form_widget(formGuild.Chef, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    {{ form_widget(formGuild.save, {'attr': {'class': 'btn btn-default col-sm-offset-2'}}) }}
                    {{ form_end(formGuild) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}