{% extends "WCUserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite' 'bundles/wcuser/css/characters.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block navigation %}{{ parent() }}{% endblock %}

{% block body %}
	{{ parent() }}
    <div class="container">
        <h1>Liste de vos personnages</h1>
        <div class="table-responsive"><table class="table table-hover" id="table-characters">
            <thead>
            <TR>
                <TH>Nom</TH>
                <TH>Serveur</TH>
                <TH class="pull-right">Supprimer</TH>
            </TR>
            </thead>
            <tbody>
            {% for character in listCharacters %}
                <TR>
                    <TD class="name">{{ character.name }}</TD>
                    <TD class="server">{{ character.server }}</TD>
                    <TD class="remove">
                        {% image '@WCUserBundle/Resources/public/img/croix.png' %}
                            <img class="img-responsive pull-right" src="{{ asset_url }}" alt="Supprimer" />
                        {% endimage %}
                    </TD>
                </TR>
            {% endfor %}
            </tbody>
        </table></div>
    </div>

    <div class="container">
        {{ include("WCUserBundle:Characters:add.html.twig") }}
    </div>
    <div id="dialog-confirm" title="Etes vous sur ?" style="display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Votre personnage sera aussi ejecté de sa guilde et de ses événements.</p>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@WCUserBundle/Resources/public/js/ajax.js'
    'bundles/fosjsrouting/js/router.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock javascripts %}